<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>

<!-- Header -->
<%- include('partials/header_admin'); %>
<header class="bg-dark py-5 mb-4">
    <div class="container">
      <h2 class="font-weight-bold text-white text-uppercase">Doctor <%= categoryX.category_name %></h2>
    </div>
  </header>
  <section class="admin_section py-1">
  <div class="col login-form-2">
        <h3>Category Info</h3>
        <p><%= categoryX.category_id %></p>
        <p><%= categoryX.category_name %></p>
    </div>
    <div class="col">
            <% if(user.user_role === 'admin'){ %>
                <hr>
                <a href="/updatecategory/<%= categoryX.category_id %>" class="btn btn-block text-uppercase btn-danger">Update</a>
                <hr>
                <a href="/deletecategory/<%= categoryX.category_id %>" class="btn btn-block text-uppercase btn-danger">Delete</a>
           <% } %>
        </div>
</section>
  <%- include('partials/footer'); %>
  </body>
  </html>