<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>

<!-- Header -->
<%- include('partials/header_admin'); %>
<header class="bg-dark py-5 mb-4">
    <div class="container">
      <h2 class="font-weight-bold text-white text-uppercase">Create Doctor</h2>
    </div>
  </header>
  <section class="admin_section py-1">
  <div class="col login-form-2">
        <h3>Doctor Info</h3>
        <!--catsss-->
        <form class="container" action="/editdoctor/<%= doctorX.user_id %>" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email *" value="<%=doctorX.email %>" required disabled title="Email cannot be edited."/>
            </div>
            <div class="form-group">
                    <input type="text" class="form-control" name="user_id" placeholder="User ID *" value="<%=doctorX.user_id %>" required disabled title="Username cannot be edited." />
                </div>
            <div class="form-group">
                <input type="text" class="form-control" name="firstName" placeholder="First Name *" value="<%=doctorX.first_name %>" required disabled title="Fist name cannot be edited."/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="lastName" placeholder="Last Name *" value="<%=doctorX.last_name %>" required disabled title="Last name cannot be edited."/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="DOB" placeholder="Date of Birth(YYYYMMDD) *" value="<%=doctorX.date_of_birth %>" required disabled title="Date of birth cannot be edited."/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="homeAddress" placeholder="Address *" value="<%=doctorX.address %>" required/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number *" value="<%=doctorX.phone_number %>" required/>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-block btn-dark text-uppercase" value="Update" />
            </div>
        </form>
        <hr>
        <a href="/admindash" class="btn btn-block text-uppercase btn-danger">Go Back</a>
    </div>
</section>
  <%- include('partials/footer'); %>
  </body>
  </html>